spring:
  datasource:
    url: jdbc:mysql://localhost:3306/subscribe-mail-send?useSSL=false&allowPublicKeyRetrieval=true&useUnicode=true&serverTimezone=Asia/Seoul
    driverClassName: com.mysql.cj.jdbc.Driver
    username: user
    password: password
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        auto_quote_keyword: true
        format_sql: true
    show-sql: true
  sql:
    init:
      mode: never
